/**********************************************************************************************************************************************************************************************************************************/
/************************************************************************************************************* LICENSE ************************************************************************************************************/
/**********************************************************************************************************************************************************************************************************************************/
/*
**    Copyright © 2016 Bastien Pasdeloup (name.surname@gmail.com) and Télécom Bretagne
**
**    This file is part of PyRat.
**
**    PyRat is free software: you can redistribute it and/or modify
**    it under the terms of the GNU General Public License as published by
**    the Free Software Foundation, either version 3 of the License, or
**    (at your option) any later version.
**
**    PyRat is distributed in the hope that it will be useful,
**    but WITHOUT ANY WARRANTY; without even the implied warranty of
**    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
**    GNU General Public License for more details.
**
**    You should have received a copy of the GNU General Public License
**    along with PyRat.  If not, see <http://www.gnu.org/licenses/>.
*/
/**********************************************************************************************************************************************************************************************************************************/
/************************************************************************************************************ TAG RULES ***********************************************************************************************************/
/**********************************************************************************************************************************************************************************************************************************/
    
    body
    {
        margin: 0;
        background-color: #111111;
        color: white;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
/*********************************************************************************************************** CLASS RULES **********************************************************************************************************/
/**********************************************************************************************************************************************************************************************************************************/
    
    .gameArea
    {
        display: flex;
        height: 87vh;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .messagesArea
    {
        background-color: #222222;
        text-align: center;
        line-height: 7vh;
        height: 7vh;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .playerArea
    {
        margin-left: 3vh;
        margin-right: 3vh;
        margin-top: auto;
        margin-bottom: auto;
        width: 20%;
        text-align: center;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .mazeArea
    {
        width: 60%;
        overflow: hidden;
        font-size: 0;
        margin: auto;
        max-height: 100%;
        text-align: center;
    }
    
    .mazeArea:hover
    {
        cursor: move;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .defaultImage
    {
        height: 70vh;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .tilesLine
    {
        min-width: 100%;
        text-align: center;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .tilesLineWrapper
    {
        display: inline-flex;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .gameElement
    {
        background-size: cover;
        width: 68px;
        height: 68px;
        position: absolute;
        left: 0;
        top: 0;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .tile
    {
        width: 68px;
        height: 68px;
        position: relative;
    }
   
/**********************************************************************************************************************************************************************************************************************************/
    
    .corner
    {
        z-index: 4;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .cheese
    {
        z-index: 5;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .tileImage
    {
        z-index: 1;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .wall
    {
        z-index: 3;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .mud
    {
        z-index: 2;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .playerToken
    {
        z-index: 6;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .topRightCorner, .topSeparation, .rorate90
    {
        transform: rotate(90deg);
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .bottomLeftCorner, .bottomSeparation, .rotate270
    {
        transform: rotate(270deg);
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .bottomRightCorner, .rightSeparation, .rotate180
    {
        transform: rotate(180deg);
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .mudLabel
    {
        width: 100%;
        font-size: 12px;
        font-weight: bold;
        color: #352415;
        z-index: 3;
        position: absolute;
        margin: 0;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .rightMudLabel
    {
        top: 28px;
        left: 50%;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .bottomMudLabel
    {
        top: 62px;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .playerName
    {
        font-size: 25pt;
        margin: 0;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .playerImage
    {
        height: 30vh;
        max-width: 100%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .playerScore
    {
        font-size: 90pt;
        margin: 0;
    }

/**********************************************************************************************************************************************************************************************************************************/
    
    .movesMessageSeparator
    {
        display: inline-block;
        width: 10%;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
    
    .hidden
    {
        display: none;
    }
    
/**********************************************************************************************************************************************************************************************************************************/
/**********************************************************************************************************************************************************************************************************************************/